@model IEnumerable<WebGameService.Models.GameSessionStatistic>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr class="header"><td><p>Начало</p></td>
            <td><p>Продолжительность</p></td>
            <td><p>Количество ходов</p></td>
            <td><p>Размер карты</p></td>
            <td><p>Результат игры</p></td>
            <td><p>Белый алгоритм</p></td>
            <td><p>Черный алгоритм</p></td><td></td>
        </tr>
        @foreach (WebGameService.Models.GameSessionStatistic b in Model)
        {
            <tr>
                <td><p>@b.GameStartTime</p></td>
                <td><p>@b.GameDuration</p></td>
                <td><p>@b.TurnsNumber</p></td>
                <td><p>@b.GameResult</p></td>
                <td><p>@b.WhiteAlgorithmName</p></td>
                <td><p>@b.BlackAlgorithmName</p></td>
            </tr>
        }
    </table>
</div>
